<nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color:#B6F2ED;">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <img src="./assets/logo.jpg" alt="quan ly nhan vien dsc" width="266" height="73" />
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right" style="background-color: #B6F2ED;">
      <!-- /.dropdown -->
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="min-height: 73px; font-size: 21px;padding-left: 105px;" >
              <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
              </li>
              <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
              </li>
              <li class="divider"></li>
              <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </li>
          </ul>
          <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation" style="height: 0px;">
      <div class="sidebar-nav navbar-collapse" style="padding-top: 50px;">
          <ul class="nav" id="side-menu">
              <li class="sidebar-search">
                  <div class="input-group custom-search-form">
                      <input type="text" class="form-control" placeholder="Search...">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                              <i class="fa fa-search"></i>
                          </button>
                      </span>
                  </div>
                  <!-- /input-group -->
              </li>
              <li>
                  <a href="/danhsachtt"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
              </li>
              <li>
                  <a href="/danhsachtt"><i class="fa fa-bar-chart-o fa-fw"></i> 
                    Employee manager<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level collapse">
                      <li>
                          <a href="/danhsachtt">List 
                            Employee manager</a>
                      </li>
                      <li>
                          <a href="/themtt">Add 
                            Employee manager</a>
                      </li>
                  </ul>
                  <!-- /.nav-second-level -->
              </li>
              <li>
                  <a href="#"><i class="fa fa-cube fa-fw"></i> 
                    Timekeeping<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level collapse">
                      <li>
                          <a href="/danhsachcc">List 
                            Timekeeping</a>
                      </li>
                      <li>
                          <a href="themcc">Add 
                            Timekeeping</a>
                      </li>
                  </ul>
                  <!-- /.nav-second-level -->
              </li>
          </ul>
      </div>
      <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
<router-outlet></router-outlet>